<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../style/nav.css">
    <link data-th-href="@{/Styles/template.css}" type="text/css" rel="stylesheet">
    <title>Review Details</title>
</head>
<body>
    <div class="header">
        <h2>Review Details</h2>
    </div>
    <div>
        <p><strong>Review ID:</strong> <span th:text="${review.reviewId}"></span></p>
        <p><strong>Class ID:</strong> <span th:text="${review.classId.className}"></span></p>
        <p><strong>User ID:</strong> <span th:text="${review.userId}"></span></p>
        <p><strong>Rating:</strong> <span th:text="${review.rating}"></span></p>
        <p><strong>Details:</strong> <span th:text="${review.details}"></span></p>
        <p><strong>Created At:</strong> <span th:text="${review.createdAt}"></span></p>
        <p><strong>Updated At:</strong> <span th:text="${review.updatedAt}"></span></p>
        <p><strong>Status:</strong> <span th:text="${review.status}"></span></p>
    </div>
    <a href="/reviews/all">Back to All Reviews</a>
</body>
</html>
