!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link data-th-href="@{/Styles/template.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header th:fragment="home-side-nav">

<div id="nav" class="column_side">

    <!-- Navigation Menu -->
    <ul id="links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
    </ul>
</div>
</header>
</body>
</html>